.footer-home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
    position: relative;
    width: 100%;
    background: transparent;
    margin-bottom: 22px;
}
  
.footer-home p {
    margin: 0;
}
  
.footer-home a {
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 8px;
    text-decoration-color: #fff;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
    transition: 
        text-decoration-color 0.3s,
        text-decoration-thickness 0.3s,
        transform 0.3s;
}

.footer-home a:hover {
    color: #fff;
    text-decoration-color: #60a5fa;
    text-decoration-thickness: 3px;
    transform: translateY(-2px);
}
  
@media (max-width: 600px) {
  .footer-home {
    font-size: 0.85rem;
  }
} 